/* ------------------------------ This is for styling popup window which is appeared on the map */
      /* Change color of icons to match bar chart and selection symbol */
      
	  .esriPopup.dark div.titleButton, 
      .esriPopup.dark div.titlePane .title,
      .esriPopup.dark div.actionsPane .action {
        color: #A4CE67;
      }
	  .esriPopup.dark .titlePane  {
			height: 25px;
			padding:5px;
			font-size: 14px;
	  }
      /* Additional customizations */	  
      .esriPopup.dark .esriPopupWrapper {
        border: none;
      }
      .esriPopup .contentPane {
        text-align: center;
      }
      .esriViewPopup .gallery {
        margin: 0 auto;
      }
