/*
html, body, .container, .tab-content, .tab-pane  {
	height: 100%;
	width: 100%;
}
*/
    /* Set the responsive map size here */
#mapDiv {
	width:100%;
	height:800px; 
}
  
/* Side bar*/
#sideBar{
	//padding-top: 20px; 
	//padding-left: 5px;" 
}

/*DELWP logo - desktop/large screens*/
#DELWPLogoDiv-md-lg{
	padding-left: 5px;
}
/* <a> of the DELWP logo - desktop/large screens*/

#link-DELWP-logo-md-lg{
	float: left;
}
/* <img> of the DELWP logo - desktop/large screens*/
#DELWP-logo-md-lg{
	//width: 250px;
	height: 40px;
}
#map-title{
	color: #fff;
	margin-top: 8px;
    margin-left: 20px;
    float: left;
    font-weight: bold;
    //font-size: 20px;
}

/* List and Filter buttons*/
#ListFilterBtns{
	padding-top:7px;
}

/*Icons of the logo bar -  desktop/large screens*/
.Licon{
	max-width: 45px;
	max-height: 45px;
	padding-top:10px;
}

/* Logo bar for Desktops/large screens*/
#logoBar{
	padding: 8px 2px;
    height: 70px;
    background-color: #005135;
    margin-bottom: 3px;
    border-bottom: #008348 6px solid;
}

/*search bar - Desktops/large screens*/
#searchBar{
	padding-top: 7px;
	text-align: center;
}

#listOfBurns{
	display: none;
}
/* Change the cursor of the tables' row to pointer*/
.clickable-row{
	cursor:pointer;
}

/*Div container of the Basemap icons */
#BasemapToggle {
	  display: none;
	  text-align: center;
	  position: absolute;
	  top: 116px;
	  right: 26px;
	  width: 48px;
	  height:162px;
	  overflow-y:auto;
	  background-color:black; //#F4F6F6;
	  opacity:1;
	  border-radius: 2px;
	  z-index: 1001;
}

/*Div container of the Basemap button */
#basemapDiv{
	position: absolute;
	top: 80px; 
	right: 33px; 
	background-color:#F4F6F6; 
	border-radius:5px; 
	opacity:0.3px;
	z-index:1000;
}
/*Basemap Button*/
#basemapBtn{
	opacity:1;
}
/* All basemap icons are set here! */
.basemapAll_icons{
	padding-top:5px;
	border-radius:5px;
}
.basemapAll_icons:focus{
	border-style: solid;
}

/* Diana settings */

.btn-toolbar>.btn-group {
	margin-top: 5px;
}

#toolbar-btns {
	padding-top: 2px;
	float: right;
}

#social-media-share {
	padding: 3px 8px;
}
/*
tr th {
    background-color: #008145;
    color: #ffffff;
    text-align: center;
}
*/
.panel-heading {
	font-weight: bold;
	font-size: 18px;
}
















